/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark .header__rec {
  display: inline-flex;
}

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-primary: #FF0070;
  --color-secondary: #000028;
  --color-contrast: #F1B2CE;
  --color-additional: #DB00FF;
  --bg-image: url('../images/cover-image-dark.png');
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #FF0070;
    --color-secondary: #000028;
    --color-contrast: #F1B2CE;
    --color-additional: #DB00FF;
    --bg-image: url('../images/cover-image-dark.png');
  }
  .header__rec {
    display: inline-flex;
  }
}